body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}
        
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 30px;
}

.weather-header {
    text-align: center;
    margin-bottom: 30px;
}

.weather-header h1 {
    font-size: 36px;
    color: #5a5656;
}

.weather-header p {
    font-size: 18px;
    color: #666;
}

.current-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a8a7a7;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.current-weather img {
    width: 100px;
    height: 100px;
}

.current-weather .temperature {
    font-size: 48px;
    font-weight: bold;
    color: #777;
}

.current-weather .condition {
    font-size: 20px;
    color: #777;
}

.forecast {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 120px;
    margin-left:0px;
}

.forecast-item {
    background-color: #d1d1d1;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin-left:0px;
}

.forecast-item img {
    width: 50px;
    height: 50px;
}

.forecast-item p {
    margin-top: 10px;
    color: #555;
}
.footer{
    background-color: #bebebe;
    width: auto;
    height: 20px;
    margin-top: 50px;
}
@media (max-width: 767px) {
    .weather-header h1 {
        font-size: 28px;
    }

    .weather-header p {
        font-size: 16px;
    }

    .current-weather .temperature {
        font-size: 36px;
    }

    .forecast-item p {
        font-size: 14px;
    }
}
.search-bar {
    margin-top: 20px;
    width: 100%;
    max-width: 300px;
}
.link {
    text-decoration: none;
    color:grey;
}
.link:hover{
    color:black;
    transition:0.5s;

}